CREATE OR REPLACE FUNCTION check_radius_violation() RETURNS TRIGGER AS \$\$
DECLARE location_record RECORD; is_within BOOLEAN; last_violation RECORD; current_distance DECIMAL;
BEGIN
  SELECT * INTO location_record FROM work_locations WHERE id = NEW.work_location_id AND status = 'in_progress';
  IF NOT FOUND THEN RETURN NEW; END IF;
  
  -- Calculate distance locally to ensure accuracy and prevent 0/nulls
  current_distance := calculate_distance(location_record.latitude, location_record.longitude, NEW.latitude, NEW.longitude);
  is_within := current_distance <= location_record.allowed_radius_meters;
  
  NEW.distance_from_center := current_distance;
  NEW.is_within_radius := is_within;
  
  IF NOT is_within THEN
    SELECT * INTO last_violation FROM work_location_violations
    WHERE work_location_id = NEW.work_location_id AND violation_type = 'radius_exit'
      AND violated_at > now() - INTERVAL '5 minutes' ORDER BY violated_at DESC LIMIT 1;
    
    IF NOT FOUND THEN
      INSERT INTO work_location_violations (tenant_id, work_location_id, employee_id, violation_type, latitude, longitude, distance_from_center)
      VALUES (NEW.tenant_id, NEW.work_location_id, NEW.employee_id, 'radius_exit', NEW.latitude, NEW.longitude, current_distance);
      
      INSERT INTO work_location_notifications (tenant_id, work_location_id, recipient_user_id, notification_type, title, message)
      SELECT NEW.tenant_id, NEW.work_location_id, location_record.assigned_by, 'radius_violation', 'Work Location Violation',
        (SELECT name FROM employees WHERE id = NEW.employee_id) || ' has exited the allowed radius';
    END IF;
  END IF;
  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql;
