-- Add API settings to company_settings table
ALTER TABLE company_settings ADD COLUMN enable_directions_api boolean DEFAULT false, ADD COLUMN enable_distance_matrix_api boolean DEFAULT false, ADD COLUMN enable_places_api boolean DEFAULT false;
